*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(255, 236, 177, 0.912);

}


nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(218 182 114 / 73%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.382);
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 600;
}

.removealink{
    text-decoration: none;
    color: black;
}
.nav-left, .nav-right{
   
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.nav-left{
    flex-basis:60%;
    /* justify-content: left; */
    justify-content: space-evenly;
}
.nav-right{
    flex-basis:30%;
    /* justify-content: right; */
    justify-content: space-evenly;
}

.margin-left{
    margin-left: 80px;
}
.margin-right{
    margin-right: 80px;
}



.nav-lang{
    margin-right: 20px;
    font-size: 1.2rem;
}
.nav-lang #lang{
    margin-left: 10px;
    border-radius: 10px;
    background-color:rgb(218 182 114 / 73%);
    border: none;
    outline: none;
    box-shadow: 0 1px 2px black;
    color: black;
    padding: 2px;
}

.onhover:hover{
    border-bottom: 1px solid black;
    text-shadow: 1px 2px 1px rgb(238, 188, 94);
}

.numerology-heading{
    width: fit-content;
     font-size: 1.5em;
     margin:2% auto;
 }

.numerology-history{
    /* max-width: fit-content; */
    /* margin-right: 5%; */
    /* float: right; */
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 10%;
}

.history-details{
    display: none;
    font-size: 1em;
    width: 100%;
    padding: 2%;
    font-style: italic;
    text-align: left;
    margin: 1% 0;
}
.history-details p{
    font-weight: 600;
    
}

.history-details p:hover{
  text-shadow: 1px 2px 1px rgb(238, 188, 94);
  cursor: pointer;
}   

.numerology-history button{
    font-size: 1em;
    padding: 1% 1%;
    font-weight: bold;
    border-radius:7px;
    border: 1px solid black;
    background-color: rgb(218 182 114 / 73%);
    outline: none;
    cursor: pointer;
}



.birth_form{    
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}
.birth_form p{
    font-size: 30px;
    margin-bottom: 20px;
}
#form{
    width: 80%;
    /* max-height: fit-content; */
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.229);
    border-radius: 10px;
    /* padding:20px 0; */
    display: flex;
    flex-direction: column;

    justify-content: space-evenly  ;
}


#form div {
    /* background-color: aquamarine;
    border: 1px solid black; */
    width: 100%;
    height: 30px;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
label{
    font-weight: bold;
    margin: 10px;
    text-align: left;
    width: 100px;   
}

input, select{
    border-radius: 5px;
    border: none;
    outline:1px solid rgb(128, 100, 0);
    padding: 3px;
}

.form-buttons{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.form-buttons button{
    padding: 3px;
    font-size: .8em; 
    border-radius: 5px;
    font: 500;
    background-color: rgba(218, 182, 114, 0.36);
}

