<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numerology Predictions</title>
    <link rel="stylesheet" href="/static/numerology.css">
</head>

<body>
    <nav>
        <div class="nav-left">
            <div class="nav-home margin-left onhover">
                <a href="/protected" class="removealink">
                    <p onclick="gotoHome()">Home</p>
                </a>
            </div>

            <div class="nav-numerology margin-left onhover">
                <a href="/numerology" class="removealink">
                    <p onclick="gotoNumerology()">Numerology</p>
                </a>
            </div>

            <div class="nav-tarot margin-left onhover">
                <a href="/tarot" class="removealink">
                    <p onclick="gotoTarot()">Tarot</p>
                </a>
            </div>
        </div>


        <div class="nav-right">
            <div class="nav-logout margin-right onhover">
                <a href="/" class="removealink">
                    <p onclick="Logout()">Logout</p>
                </a>
            </div>

            <div class="nav-lang margin-right ">
                <label class="onhover" for="lang">Lang</label>
                <select name="lang" id="lang">
                    <option id="English" value="English">English</option>
                    <option id="Hindi" value="Hindi">Hindi</option>
                </select>
            </div>
        </div>

    </nav>


    <div class="numerology-heading">
        <h2>Numerology Prediction</h2>
    </div>

    <div class="numerology-history">
        <div class="history-details" id="history-details"></div>
        <button id="history-btn">Show Numerology History</button>
    </div>

    <div class="birth_form">

        <p>Enter Birth Details</p>
        <form name="form" id="form" action="testNumerology" method="post">

            <div class="form-name">
                <label for="name">Name</label>
                <input name="name" type="text" placeholder=" fullName" id="name" required>
            </div>

            <div class="form-gender">
                <label for="gender">Gender</label>
                <select name="gender" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="form-date">
                <label for="date-of-birth">DOB</label>
                <input name="dob" type="date" id="date" required>
            </div>

            <div class="form-time">
                <label for="time">Time of Birth</label>
                <input name="tob" type="time" name="time" id="time">
            </div>

            <!-- style="visibility: hidden;" -->
            <input style="visibility: hidden;" type="text" name="userid" id="userid">

            <div class="form-place">
                <label for="place">Place of Birth</label>
                <input name="pob" type="text" name="place" id="place" required>
            </div>

            <div class="form-buttons">
                <button type="submit" id="submit-button">Numerology Report</button>
            </div>

        </form>
    </div>



    <!-- Google Maps api -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2bSrjroNJthADBBC0l53d08wbx34iZvc&libraries=places"></script> -->
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2bSrjroNJthADBBC0l53d08wbx34iZvc&libraries=places&callback=initMap">
        </script>
    <script type="text/javascript">

        var map;
        function initMap() {
            // alert("Maps");
            // map = new google.maps.Map(document.getElementById('place'), {
            //     center: { lat: -34.397, lng: 150.644 },
            //     zoom: 8
            // });
        }
       $(document).ready(function () {
            var autocomplete;
            autocomplete = new google.maps.places.Autocomplete((document.getElementById('place')), {
                types: ['geocode'],
            });
        });

    </script>


    <!-- ISSUE IS THAT IF I ALLOW THE JAVASCRIPT FUNCTION ON BUTTON CLICKJ THEN THE ACTION IS NOT DIRECTED.
    bUT IF I DIRECT THE ACTION THEN THE USEREID IS NO SEND TO SERVER -->

    <script src="/static/numerology.js"></script>
</body>

</html>